.header {
  height: 75px;
  width: 100vw;
  background-color: red;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}

.form {
  width: 200px;
  max-height: 80px;
  color: white;
}

.text {
  font-size: 14px;
  color: white;
  margin: auto 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.input_text {
  font-size: 14px;
  color: white;
  margin: auto 10px;
  font-family: 'Poppins', sans-serif;
}

.light {
  font-size: 10px;
}

.text:hover {
  color: black;
}

.active {
  color: black;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.made_by {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: auto 50px;
  color: white;
}
