.card {
  border: 1px solid black;
  width: 150px;
  margin: 5px;
  padding: 10px;
  height: auto;
}

.text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.img {
  display: flex;
  margin: auto;
}

.likes {
  display: flex;
  justify-content: center;
}

.like {
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  margin: auto;
}

.counter {
  font-size: 14px;
}
