.card {
  border: 1px solid black;
  width: 175px;
  padding: 25px 10px 10px;
  margin: 10px;
}

.text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.img {
  display: flex;
  margin: 30px auto;
  width: 96px;
  height: 96px;
}

.likes {
  display: flex;
  margin: auto;
  height: 70px;
}

.counter {
  font-size: 14px;
}
